@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary: #810F1B;
  --color-text: #ffffff;
}

html,
body {
  @apply bg-white dark:bg-gray-200;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button {
  @apply 
  bg-primary 
  text-text 
  rounded-lg 
  px-4 
  py-2 
  hover:bg-white 
  hover:text-black;
}

.card-container { 
  @apply mt-5 ml-4 mr-4 grid grid-cols-3 gap-4
}
.navbar {
  @apply py-4 bg-primary pr-6;
}

.navbar-list {
  @apply flex list-none m-0 p-0;
  justify-content: flex-end;
}

.navbar-item {
  @apply mr-4;
}

.navbar-link {
  @apply text-text no-underline;
  padding: 0 0.5rem; 
}
